@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333333;
  background: '#f6fafb';
  height: 100%;
  width: 100%;
}

.text-shortcut {
  font-size: 13px;
  color: '#333333';
}

.wrapper {
  max-width: 420px;
}

.wrapper-bg {
  background-color: #f6fafb;
}

.navbar {
  height: 55px;
  max-width: 420px;
  padding: 4px;
}

@media (min-width: 960px) {
  body {
    color: #333333;
    background: '#ffffff';
    height: 100%;
    width: 100%;
  }

  .navbar {
    height: 72px;
    max-width: 100%;
    border-bottom: 1px solid #eeeeee;
    background-color: #ffffff;
  }
  .wrapper {
    max-width: 960px;
  }
  .wrapper-bg {
    background-color: #ffffff;
  }
}
