@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333333;
  background: #f6fafb;
  height: 100%;
  width: 100%;
}

.navbar {
  height: 55px;
  max-width: 420px;
  padding: 4px;
}

@media (min-width: 960px) {
  .navbar {
    height: 72px;
    max-width: 100%;
    border-bottom: 1px solid #eeeeee;
    background-color: white;
  }
}
